#///////////////////////////
# Cocos Creator
#///////////////////////////
library/
temp/
local/
build/
profiles/
native/

#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

#//////////////////////////
# User-specific files
#//////////////////////////
*.creator.user
*.DS_Store