<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI_Chip_Blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,103}</string>
                <key>spriteSourceSize</key>
                <string>{100,103}</string>
                <key>textureRect</key>
                <string>{{121,1},{100,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_Chip_Cyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,103}</string>
                <key>spriteSourceSize</key>
                <string>{100,103}</string>
                <key>textureRect</key>
                <string>{{223,1},{100,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_Chip_Disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,103}</string>
                <key>spriteSourceSize</key>
                <string>{100,103}</string>
                <key>textureRect</key>
                <string>{{325,1},{100,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_Chip_Green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,103}</string>
                <key>spriteSourceSize</key>
                <string>{100,103}</string>
                <key>textureRect</key>
                <string>{{427,1},{100,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_Chip_Puple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,103}</string>
                <key>spriteSourceSize</key>
                <string>{100,103}</string>
                <key>textureRect</key>
                <string>{{529,1},{100,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_Chip_Red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,103}</string>
                <key>spriteSourceSize</key>
                <string>{100,103}</string>
                <key>textureRect</key>
                <string>{{631,1},{100,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_Chip_Violet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,103}</string>
                <key>spriteSourceSize</key>
                <string>{100,103}</string>
                <key>textureRect</key>
                <string>{{733,1},{100,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_Chip_Yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,103}</string>
                <key>spriteSourceSize</key>
                <string>{100,103}</string>
                <key>textureRect</key>
                <string>{{835,1},{100,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_Chip_over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,116}</string>
                <key>spriteSourceSize</key>
                <string>{118,116}</string>
                <key>textureRect</key>
                <string>{{1,1},{118,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chips.png</string>
            <key>size</key>
            <string>{936,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:333587d52d634b834a271db982013f7e:cf85384635da91f7314257122a133714:ba04bb3308be7542f78a75d9474d66d8$</string>
            <key>textureFileName</key>
            <string>chips.png</string>
        </dict>
    </dict>
</plist>
