<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Logo_rouletto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,44}</string>
                <key>spriteSourceSize</key>
                <string>{142,44}</string>
                <key>textureRect</key>
                <string>{{796,489},{142,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,203}</string>
                <key>spriteSourceSize</key>
                <string>{1920,203}</string>
                <key>textureRect</key>
                <string>{{1,1},{1920,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,92}</string>
                <key>spriteSourceSize</key>
                <string>{1920,92}</string>
                <key>textureRect</key>
                <string>{{1,206},{1920,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_info_Credit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{438,73}</string>
                <key>spriteSourceSize</key>
                <string>{438,73}</string>
                <key>textureRect</key>
                <string>{{1,300},{438,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_info_winbet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,73}</string>
                <key>spriteSourceSize</key>
                <string>{268,73}</string>
                <key>textureRect</key>
                <string>{{1923,1},{268,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-4wintGame_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,72}</string>
                <key>spriteSourceSize</key>
                <string>{133,72}</string>
                <key>textureRect</key>
                <string>{{661,374},{133,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-4wintGame_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,72}</string>
                <key>spriteSourceSize</key>
                <string>{133,72}</string>
                <key>textureRect</key>
                <string>{{661,448},{133,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-BasicGame_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,72}</string>
                <key>spriteSourceSize</key>
                <string>{133,72}</string>
                <key>textureRect</key>
                <string>{{361,375},{133,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-BasicGame_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,72}</string>
                <key>spriteSourceSize</key>
                <string>{133,72}</string>
                <key>textureRect</key>
                <string>{{1176,457},{133,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-JackpotGame_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,72}</string>
                <key>spriteSourceSize</key>
                <string>{358,72}</string>
                <key>textureRect</key>
                <string>{{1,375},{358,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-JackpotGame_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,72}</string>
                <key>spriteSourceSize</key>
                <string>{358,72}</string>
                <key>textureRect</key>
                <string>{{441,300},{358,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Auto_rebet_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,72}</string>
                <key>spriteSourceSize</key>
                <string>{169,72}</string>
                <key>textureRect</key>
                <string>{{1,464},{169,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Auto_rebet_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,72}</string>
                <key>spriteSourceSize</key>
                <string>{169,72}</string>
                <key>textureRect</key>
                <string>{{172,464},{169,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ClearAll.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,87}</string>
                <key>spriteSourceSize</key>
                <string>{218,87}</string>
                <key>textureRect</key>
                <string>{{801,311},{218,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_DoubleBet_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,87}</string>
                <key>spriteSourceSize</key>
                <string>{218,87}</string>
                <key>textureRect</key>
                <string>{{1136,300},{218,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_DoubleBet_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,87}</string>
                <key>spriteSourceSize</key>
                <string>{218,87}</string>
                <key>textureRect</key>
                <string>{{1356,300},{218,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ReBet_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,87}</string>
                <key>spriteSourceSize</key>
                <string>{218,87}</string>
                <key>textureRect</key>
                <string>{{1576,300},{218,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ReBet_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,87}</string>
                <key>spriteSourceSize</key>
                <string>{218,87}</string>
                <key>textureRect</key>
                <string>{{441,374},{218,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,66}</string>
                <key>spriteSourceSize</key>
                <string>{159,66}</string>
                <key>textureRect</key>
                <string>{{435,463},{159,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_live_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,66}</string>
                <key>spriteSourceSize</key>
                <string>{158,66}</string>
                <key>textureRect</key>
                <string>{{1107,389},{158,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_live_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,66}</string>
                <key>spriteSourceSize</key>
                <string>{158,66}</string>
                <key>textureRect</key>
                <string>{{1267,389},{158,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,66}</string>
                <key>spriteSourceSize</key>
                <string>{89,66}</string>
                <key>textureRect</key>
                <string>{{1907,389},{89,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sound_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,66}</string>
                <key>spriteSourceSize</key>
                <string>{158,66}</string>
                <key>textureRect</key>
                <string>{{1427,389},{158,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sound_on1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,66}</string>
                <key>spriteSourceSize</key>
                <string>{158,66}</string>
                <key>textureRect</key>
                <string>{{1587,389},{158,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sound_on2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,66}</string>
                <key>spriteSourceSize</key>
                <string>{158,66}</string>
                <key>textureRect</key>
                <string>{{1747,389},{158,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sound_on3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,66}</string>
                <key>spriteSourceSize</key>
                <string>{158,66}</string>
                <key>textureRect</key>
                <string>{{1016,473},{158,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_undo_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,87}</string>
                <key>spriteSourceSize</key>
                <string>{218,87}</string>
                <key>textureRect</key>
                <string>{{1796,300},{218,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_undo_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,87}</string>
                <key>spriteSourceSize</key>
                <string>{218,87}</string>
                <key>textureRect</key>
                <string>{{796,400},{218,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,27}</string>
                <key>spriteSourceSize</key>
                <string>{61,27}</string>
                <key>textureRect</key>
                <string>{{1923,271},{61,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,27}</string>
                <key>spriteSourceSize</key>
                <string>{61,27}</string>
                <key>textureRect</key>
                <string>{{1107,311},{61,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,9}</string>
                <key>spriteSourceSize</key>
                <string>{333,9}</string>
                <key>textureRect</key>
                <string>{{801,300},{333,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,13}</string>
                <key>spriteSourceSize</key>
                <string>{337,13}</string>
                <key>textureRect</key>
                <string>{{1,449},{337,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x10_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{1655,457},{84,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x10_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{1741,457},{84,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x1_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{1021,311},{84,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x1_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{1021,392},{84,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x2_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{1311,457},{84,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x2_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{1397,457},{84,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x5_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{1483,457},{84,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x5_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{1569,457},{84,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{2015,540}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffb03971dd541f098087fdc83cb492e1:c5939bcccebe9e0d0a4137271d1ac55b:1f55903e2927f6cb72c625c6a594708e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
