<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ETG_BetMs_NotEnought.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,53}</string>
                <key>spriteSourceSize</key>
                <string>{312,53}</string>
                <key>textureRect</key>
                <string>{{1,449},{312,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ETG_Chip_BetMax.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,49}</string>
                <key>spriteSourceSize</key>
                <string>{115,49}</string>
                <key>textureRect</key>
                <string>{{1800,300},{115,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Logo_rouletto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,44}</string>
                <key>spriteSourceSize</key>
                <string>{142,44}</string>
                <key>textureRect</key>
                <string>{{1016,546},{142,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,203}</string>
                <key>spriteSourceSize</key>
                <string>{1920,203}</string>
                <key>textureRect</key>
                <string>{{1,1},{1920,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,92}</string>
                <key>spriteSourceSize</key>
                <string>{1920,92}</string>
                <key>textureRect</key>
                <string>{{1,206},{1920,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_info_Credit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{438,73}</string>
                <key>spriteSourceSize</key>
                <string>{438,73}</string>
                <key>textureRect</key>
                <string>{{1,300},{438,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_info_winbet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,73}</string>
                <key>spriteSourceSize</key>
                <string>{268,73}</string>
                <key>textureRect</key>
                <string>{{1,504},{268,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-4wintGame_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,72}</string>
                <key>spriteSourceSize</key>
                <string>{133,72}</string>
                <key>textureRect</key>
                <string>{{661,374},{133,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-4wintGame_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,72}</string>
                <key>spriteSourceSize</key>
                <string>{133,72}</string>
                <key>textureRect</key>
                <string>{{661,448},{133,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-BasicGame_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,72}</string>
                <key>spriteSourceSize</key>
                <string>{133,72}</string>
                <key>textureRect</key>
                <string>{{1672,389},{133,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-BasicGame_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,72}</string>
                <key>spriteSourceSize</key>
                <string>{133,72}</string>
                <key>textureRect</key>
                <string>{{361,375},{133,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-JackpotGame_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,72}</string>
                <key>spriteSourceSize</key>
                <string>{358,72}</string>
                <key>textureRect</key>
                <string>{{1,375},{358,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-JackpotGame_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,72}</string>
                <key>spriteSourceSize</key>
                <string>{358,72}</string>
                <key>textureRect</key>
                <string>{{441,300},{358,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Auto_rebet_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,72}</string>
                <key>spriteSourceSize</key>
                <string>{169,72}</string>
                <key>textureRect</key>
                <string>{{1330,389},{169,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Auto_rebet_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,72}</string>
                <key>spriteSourceSize</key>
                <string>{169,72}</string>
                <key>textureRect</key>
                <string>{{1501,389},{169,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ClearAll_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,87}</string>
                <key>spriteSourceSize</key>
                <string>{218,87}</string>
                <key>textureRect</key>
                <string>{{801,326},{218,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ClearAll_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,87}</string>
                <key>spriteSourceSize</key>
                <string>{218,87}</string>
                <key>textureRect</key>
                <string>{{1140,300},{218,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ClearAll_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,87}</string>
                <key>spriteSourceSize</key>
                <string>{218,87}</string>
                <key>textureRect</key>
                <string>{{1360,300},{218,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_DoubleBet_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,87}</string>
                <key>spriteSourceSize</key>
                <string>{218,87}</string>
                <key>textureRect</key>
                <string>{{1580,300},{218,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_DoubleBet_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,87}</string>
                <key>spriteSourceSize</key>
                <string>{218,87}</string>
                <key>textureRect</key>
                <string>{{441,374},{218,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ReBet_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,87}</string>
                <key>spriteSourceSize</key>
                <string>{218,87}</string>
                <key>textureRect</key>
                <string>{{796,415},{218,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ReBet_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,87}</string>
                <key>spriteSourceSize</key>
                <string>{218,87}</string>
                <key>textureRect</key>
                <string>{{796,504},{218,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,66}</string>
                <key>spriteSourceSize</key>
                <string>{159,66}</string>
                <key>textureRect</key>
                <string>{{1110,478},{159,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_help_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,66}</string>
                <key>spriteSourceSize</key>
                <string>{159,66}</string>
                <key>textureRect</key>
                <string>{{1330,463},{159,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_live_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,66}</string>
                <key>spriteSourceSize</key>
                <string>{158,66}</string>
                <key>textureRect</key>
                <string>{{1491,463},{158,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_live_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,66}</string>
                <key>spriteSourceSize</key>
                <string>{158,66}</string>
                <key>textureRect</key>
                <string>{{1651,463},{158,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,66}</string>
                <key>spriteSourceSize</key>
                <string>{89,66}</string>
                <key>textureRect</key>
                <string>{{1701,531},{89,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sound_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,66}</string>
                <key>spriteSourceSize</key>
                <string>{158,66}</string>
                <key>textureRect</key>
                <string>{{435,463},{158,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sound_on1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,66}</string>
                <key>spriteSourceSize</key>
                <string>{158,66}</string>
                <key>textureRect</key>
                <string>{{271,510},{158,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sound_on2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,66}</string>
                <key>spriteSourceSize</key>
                <string>{158,66}</string>
                <key>textureRect</key>
                <string>{{603,522},{158,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sound_on3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,66}</string>
                <key>spriteSourceSize</key>
                <string>{158,66}</string>
                <key>textureRect</key>
                <string>{{1811,432},{158,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_undo_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,87}</string>
                <key>spriteSourceSize</key>
                <string>{218,87}</string>
                <key>textureRect</key>
                <string>{{1021,326},{218,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_undo_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,87}</string>
                <key>spriteSourceSize</key>
                <string>{218,87}</string>
                <key>textureRect</key>
                <string>{{1110,389},{218,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,27}</string>
                <key>spriteSourceSize</key>
                <string>{61,27}</string>
                <key>textureRect</key>
                <string>{{1110,326},{61,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eye_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,27}</string>
                <key>spriteSourceSize</key>
                <string>{61,27}</string>
                <key>textureRect</key>
                <string>{{1,579},{61,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,9}</string>
                <key>spriteSourceSize</key>
                <string>{333,9}</string>
                <key>textureRect</key>
                <string>{{801,315},{333,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,13}</string>
                <key>spriteSourceSize</key>
                <string>{337,13}</string>
                <key>textureRect</key>
                <string>{{801,300},{337,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x10_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{1529,531},{84,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x10_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{1615,531},{84,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x1_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{431,531},{84,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x1_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{517,531},{84,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x2_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{1807,351},{84,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x2_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{1271,531},{84,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x5_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{1357,531},{84,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x5_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{1443,531},{84,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1922,611}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b222ea4280198fbe75817cf62549408:cd59ec9e9d2a49166e2151c0ffa6622a:1f55903e2927f6cb72c625c6a594708e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
