<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ETG_BetMs_NotEnought.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,53}</string>
                <key>spriteSourceSize</key>
                <string>{312,53}</string>
                <key>textureRect</key>
                <string>{{1368,546},{312,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ETG_Chip_BetMax.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,49}</string>
                <key>spriteSourceSize</key>
                <string>{115,49}</string>
                <key>textureRect</key>
                <string>{{1317,460},{115,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Logo_rouletto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,44}</string>
                <key>spriteSourceSize</key>
                <string>{142,44}</string>
                <key>textureRect</key>
                <string>{{877,471},{142,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,203}</string>
                <key>spriteSourceSize</key>
                <string>{1920,203}</string>
                <key>textureRect</key>
                <string>{{1,1},{1920,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,92}</string>
                <key>spriteSourceSize</key>
                <string>{1920,92}</string>
                <key>textureRect</key>
                <string>{{1,206},{1920,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_info_Credit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{438,73}</string>
                <key>spriteSourceSize</key>
                <string>{438,73}</string>
                <key>textureRect</key>
                <string>{{127,520},{438,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_info_winbet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,73}</string>
                <key>spriteSourceSize</key>
                <string>{268,73}</string>
                <key>textureRect</key>
                <string>{{1,300},{268,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-4wintGame_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,72}</string>
                <key>spriteSourceSize</key>
                <string>{133,72}</string>
                <key>textureRect</key>
                <string>{{1021,471},{133,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-4wintGame_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,72}</string>
                <key>spriteSourceSize</key>
                <string>{133,72}</string>
                <key>textureRect</key>
                <string>{{1095,460},{133,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-BasicGame_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,72}</string>
                <key>spriteSourceSize</key>
                <string>{133,72}</string>
                <key>textureRect</key>
                <string>{{1169,460},{133,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-BasicGame_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,72}</string>
                <key>spriteSourceSize</key>
                <string>{133,72}</string>
                <key>textureRect</key>
                <string>{{1243,460},{133,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-JackpotGame_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,72}</string>
                <key>spriteSourceSize</key>
                <string>{358,72}</string>
                <key>textureRect</key>
                <string>{{567,520},{358,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-JackpotGame_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,72}</string>
                <key>spriteSourceSize</key>
                <string>{358,72}</string>
                <key>textureRect</key>
                <string>{{1530,300},{358,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Auto_rebet_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,72}</string>
                <key>spriteSourceSize</key>
                <string>{169,72}</string>
                <key>textureRect</key>
                <string>{{877,300},{169,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Auto_rebet_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,72}</string>
                <key>spriteSourceSize</key>
                <string>{169,72}</string>
                <key>textureRect</key>
                <string>{{951,300},{169,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_ClearAll_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,87}</string>
                <key>spriteSourceSize</key>
                <string>{218,87}</string>
                <key>textureRect</key>
                <string>{{76,300},{218,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_ClearAll_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,87}</string>
                <key>spriteSourceSize</key>
                <string>{218,87}</string>
                <key>textureRect</key>
                <string>{{165,300},{218,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_ClearAll_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,87}</string>
                <key>spriteSourceSize</key>
                <string>{218,87}</string>
                <key>textureRect</key>
                <string>{{254,300},{218,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_DoubleBet_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,87}</string>
                <key>spriteSourceSize</key>
                <string>{218,87}</string>
                <key>textureRect</key>
                <string>{{343,300},{218,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_DoubleBet_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,87}</string>
                <key>spriteSourceSize</key>
                <string>{218,87}</string>
                <key>textureRect</key>
                <string>{{432,300},{218,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_ReBet_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,87}</string>
                <key>spriteSourceSize</key>
                <string>{218,87}</string>
                <key>textureRect</key>
                <string>{{521,300},{218,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_ReBet_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,87}</string>
                <key>spriteSourceSize</key>
                <string>{218,87}</string>
                <key>textureRect</key>
                <string>{{610,300},{218,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,66}</string>
                <key>spriteSourceSize</key>
                <string>{159,66}</string>
                <key>textureRect</key>
                <string>{{1025,300},{159,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_live_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,66}</string>
                <key>spriteSourceSize</key>
                <string>{158,66}</string>
                <key>textureRect</key>
                <string>{{1093,300},{158,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_live_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,66}</string>
                <key>spriteSourceSize</key>
                <string>{158,66}</string>
                <key>textureRect</key>
                <string>{{1161,300},{158,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,66}</string>
                <key>spriteSourceSize</key>
                <string>{89,66}</string>
                <key>textureRect</key>
                <string>{{927,517},{89,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_sound_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,66}</string>
                <key>spriteSourceSize</key>
                <string>{158,66}</string>
                <key>textureRect</key>
                <string>{{1229,300},{158,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_sound_on1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,66}</string>
                <key>spriteSourceSize</key>
                <string>{158,66}</string>
                <key>textureRect</key>
                <string>{{1297,300},{158,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_sound_on2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,66}</string>
                <key>spriteSourceSize</key>
                <string>{158,66}</string>
                <key>textureRect</key>
                <string>{{1365,300},{158,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_sound_on3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,66}</string>
                <key>spriteSourceSize</key>
                <string>{158,66}</string>
                <key>textureRect</key>
                <string>{{1433,300},{158,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_undo_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,87}</string>
                <key>spriteSourceSize</key>
                <string>{218,87}</string>
                <key>textureRect</key>
                <string>{{699,300},{218,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_undo_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,87}</string>
                <key>spriteSourceSize</key>
                <string>{218,87}</string>
                <key>textureRect</key>
                <string>{{788,300},{218,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eye_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,27}</string>
                <key>spriteSourceSize</key>
                <string>{61,27}</string>
                <key>textureRect</key>
                <string>{{1,570},{61,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,27}</string>
                <key>spriteSourceSize</key>
                <string>{61,27}</string>
                <key>textureRect</key>
                <string>{{64,570},{61,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,9}</string>
                <key>spriteSourceSize</key>
                <string>{333,9}</string>
                <key>textureRect</key>
                <string>{{1,599},{333,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,13}</string>
                <key>spriteSourceSize</key>
                <string>{337,13}</string>
                <key>textureRect</key>
                <string>{{336,595},{337,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x10_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{1663,374},{84,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x10_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{1692,460},{84,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x1_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{1368,460},{84,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x1_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{1449,460},{84,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x2_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{1501,374},{84,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x2_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{1530,460},{84,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x5_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{1582,374},{84,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x5_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{1611,460},{84,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1922,609}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b596a562d31a05c2c5f645f6978caf9c:fb3096c37df3ad7278b3f4aafe7ef9c1:1f55903e2927f6cb72c625c6a594708e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
