<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BTN-Bet_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,39}</string>
                <key>spriteSourceSize</key>
                <string>{120,39}</string>
                <key>textureRect</key>
                <string>{{1289,1},{120,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN-Bet_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,39}</string>
                <key>spriteSourceSize</key>
                <string>{120,39}</string>
                <key>textureRect</key>
                <string>{{1395,487},{120,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BTN-Cancel_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,39}</string>
                <key>spriteSourceSize</key>
                <string>{120,39}</string>
                <key>textureRect</key>
                <string>{{1409,47},{120,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BTN-Cancel_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,39}</string>
                <key>spriteSourceSize</key>
                <string>{120,39}</string>
                <key>textureRect</key>
                <string>{{1409,169},{120,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BTN-Random_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,39}</string>
                <key>spriteSourceSize</key>
                <string>{120,39}</string>
                <key>textureRect</key>
                <string>{{1409,291},{120,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BTN-Random_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,39}</string>
                <key>spriteSourceSize</key>
                <string>{120,39}</string>
                <key>textureRect</key>
                <string>{{1450,47},{120,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bet_chip_jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{63,62}</string>
                <key>textureRect</key>
                <string>{{1395,609},{63,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box_text_jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1286,76}</string>
                <key>spriteSourceSize</key>
                <string>{1286,76}</string>
                <key>textureRect</key>
                <string>{{1,1},{1286,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game01_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{695,202}</string>
                <key>spriteSourceSize</key>
                <string>{695,202}</string>
                <key>textureRect</key>
                <string>{{1,297},{695,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game01_boxon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,44}</string>
                <key>spriteSourceSize</key>
                <string>{45,44}</string>
                <key>textureRect</key>
                <string>{{1411,1},{45,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game02_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{695,202}</string>
                <key>spriteSourceSize</key>
                <string>{695,202}</string>
                <key>textureRect</key>
                <string>{{1,501},{695,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game02_boxon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,44}</string>
                <key>spriteSourceSize</key>
                <string>{45,44}</string>
                <key>textureRect</key>
                <string>{{1409,413},{45,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game03_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{695,202}</string>
                <key>spriteSourceSize</key>
                <string>{695,202}</string>
                <key>textureRect</key>
                <string>{{712,79},{695,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game03_boxon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,44}</string>
                <key>spriteSourceSize</key>
                <string>{45,44}</string>
                <key>textureRect</key>
                <string>{{1436,460},{45,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game04_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{695,202}</string>
                <key>spriteSourceSize</key>
                <string>{695,202}</string>
                <key>textureRect</key>
                <string>{{712,283},{695,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game04_boxon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,44}</string>
                <key>spriteSourceSize</key>
                <string>{45,44}</string>
                <key>textureRect</key>
                <string>{{1436,507},{45,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game05_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{695,202}</string>
                <key>spriteSourceSize</key>
                <string>{695,202}</string>
                <key>textureRect</key>
                <string>{{698,487},{695,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game05_boxon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,44}</string>
                <key>spriteSourceSize</key>
                <string>{45,44}</string>
                <key>textureRect</key>
                <string>{{1436,554},{45,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>win_jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{709,216}</string>
                <key>spriteSourceSize</key>
                <string>{709,216}</string>
                <key>textureRect</key>
                <string>{{1,79},{709,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jackpotGame.png</string>
            <key>size</key>
            <string>{1490,704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9909f1e9764cd54cd1d5544edb4c404d:9125bf13cb9e86215a1820ea8ca8f4e3:57cb1cdd97bca8f410e6a6a2ea890481$</string>
            <key>textureFileName</key>
            <string>jackpotGame.png</string>
        </dict>
    </dict>
</plist>
