<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Messge_NGS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1598,131}</string>
                <key>spriteSourceSize</key>
                <string>{1598,131}</string>
                <key>textureRect</key>
                <string>{{1,1},{1598,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Messge_NMB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1211,156}</string>
                <key>spriteSourceSize</key>
                <string>{1211,156}</string>
                <key>textureRect</key>
                <string>{{1,292},{1211,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Messge_PYB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1415,156}</string>
                <key>spriteSourceSize</key>
                <string>{1415,156}</string>
                <key>textureRect</key>
                <string>{{1,134},{1415,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eff_bg_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{709,195}</string>
                <key>spriteSourceSize</key>
                <string>{709,195}</string>
                <key>textureRect</key>
                <string>{{1303,292},{709,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youwin_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,94}</string>
                <key>spriteSourceSize</key>
                <string>{432,94}</string>
                <key>textureRect</key>
                <string>{{1601,1},{432,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youwin_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,94}</string>
                <key>spriteSourceSize</key>
                <string>{432,94}</string>
                <key>textureRect</key>
                <string>{{1601,97},{432,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youwin_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,94}</string>
                <key>spriteSourceSize</key>
                <string>{432,94}</string>
                <key>textureRect</key>
                <string>{{1,450},{432,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youwin_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,94}</string>
                <key>spriteSourceSize</key>
                <string>{432,94}</string>
                <key>textureRect</key>
                <string>{{435,450},{432,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youwin_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,94}</string>
                <key>spriteSourceSize</key>
                <string>{432,94}</string>
                <key>textureRect</key>
                <string>{{869,450},{432,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect.png</string>
            <key>size</key>
            <string>{2034,545}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1aa5b682735bdba918c335d8fd418fe2:c1d9564ba701265f42ddb06db39576e1:3dfbfbc8204a359f1a81f2ee84fdb371$</string>
            <key>textureFileName</key>
            <string>effect.png</string>
        </dict>
    </dict>
</plist>
