<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NGSS_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{1920,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NGSS_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{1923,1},{1920,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NGSS_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{1,203},{1920,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NGSS_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{1923,203},{1920,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NGSS_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{1,405},{1920,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NGSS_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{1923,405},{1920,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NGSS_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{1,607},{1920,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NGSS_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{1923,607},{1920,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NGSS_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{1,809},{1920,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NGSS_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{1923,809},{1920,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NGSS_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{1,1011},{1920,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NGSS_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{1923,1011},{1920,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NGSS_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{1,1213},{1920,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NGSS_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{1923,1213},{1920,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NGSS_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{1,1415},{1920,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NGSS_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{1923,1415},{1920,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NGSS_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{1,1617},{1920,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NGSS_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{1923,1617},{1920,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NGSS_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{3845,1},{1920,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NGSS_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{1,1819},{1920,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NGSS_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{1923,1819},{1920,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NGSS_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{1,2021},{1920,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NGSS_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{1923,2021},{1920,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NGSS_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{1,2223},{1920,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NGSS_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{1923,2223},{1920,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NGSS_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{1,2425},{1920,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NGSS_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{1923,2425},{1920,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NGSS_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{1,2627},{1920,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NGSS_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{1923,2627},{1920,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NGSS_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{1,2829},{1920,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NGSS_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,200}</string>
                <key>spriteSourceSize</key>
                <string>{1920,200}</string>
                <key>textureRect</key>
                <string>{{1923,2829},{1920,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ngs0.png</string>
            <key>size</key>
            <string>{4046,3030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7dad4692ad2e6d082407d65e3222e3d:919f7853c1201c819ec37d55433edaa9:abd7f72e4633553fb86ca505e5bfa35c$</string>
            <key>textureFileName</key>
            <string>ngs0.png</string>
        </dict>
    </dict>
</plist>
