<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line_livecam_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,298}</string>
                <key>spriteSourceSize</key>
                <string>{143,298}</string>
                <key>textureRect</key>
                <string>{{1,1},{143,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>liveCam.png</string>
            <key>size</key>
            <string>{145,300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1faf9dba253d06549c91367fe1c0e5ea:589a612dcdc749e1e409746de6fd0ee4:cd80e120e4f29c7cb8e442bd7e25b3e4$</string>
            <key>textureFileName</key>
            <string>liveCam.png</string>
        </dict>
    </dict>
</plist>
