<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_help.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1380,771}</string>
                <key>spriteSourceSize</key>
                <string>{1380,771}</string>
                <key>textureRect</key>
                <string>{{1,1},{1380,771}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_help_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,298}</string>
                <key>spriteSourceSize</key>
                <string>{143,298}</string>
                <key>textureRect</key>
                <string>{{1383,1},{143,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>help.png</string>
            <key>size</key>
            <string>{1527,773}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d27326f3f82b2ddba1993bb8b596561e:e63e5f78c44ca6d7966e038cc2ed5908:b748d28db2ead7fdbe4aa6481e4be26c$</string>
            <key>textureFileName</key>
            <string>help.png</string>
        </dict>
    </dict>
</plist>
