<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_help.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,717}</string>
                <key>spriteSourceSize</key>
                <string>{1280,717}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,717}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_help_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,298}</string>
                <key>spriteSourceSize</key>
                <string>{143,298}</string>
                <key>textureRect</key>
                <string>{{1283,1},{143,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>help.png</string>
            <key>size</key>
            <string>{1427,719}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4758e0dbf39416e06e655ec9a07c37be:c992299aa39fa45f7b849d479a0294f5:b748d28db2ead7fdbe4aa6481e4be26c$</string>
            <key>textureFileName</key>
            <string>help.png</string>
        </dict>
    </dict>
</plist>
